################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessLogic/bin/Debug/Unity.Container.pdb
/BusinessLogic/bin/Debug/Unity.Container.dll
/BusinessLogic/bin/Debug/Unity.Abstractions.pdb
/BusinessLogic/bin/Debug/Unity.Abstractions.dll
/BusinessLogic/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/BusinessLogic/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/BusinessLogic/bin/Debug/Data.pdb
/BusinessLogic/bin/Debug/Data.dll
/BusinessLogic/bin/Debug/BusinessLogic.pdb
/BusinessLogic/bin/Debug/BusinessLogic.dll
/BusinessLogic/bin/Debug/AutoMapper.xml
/BusinessLogic/bin/Debug/AutoMapper.pdb
/BusinessLogic/bin/Debug/AutoMapper.dll
/BusinessLogic/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BusinessLogic/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BusinessLogic/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BusinessLogic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BusinessLogic/obj/Debug/BusinessLogic.pdb
/BusinessLogic/obj/Debug/BusinessLogic.dll
/BusinessLogic/obj/Debug/BusinessLogic.csprojResolveAssemblyReference.cache
/BusinessLogic/obj/Debug/BusinessLogic.csproj.FileListAbsolute.txt
/BusinessLogic/obj/Debug/BusinessLogic.csproj.CoreCompileInputs.cache
/BusinessLogic/obj/Debug/BusinessLogic.csproj.CopyComplete
/Data/bin/Debug/Data.pdb
/Data/bin/Debug/Data.dll
/Data/obj/Release/Data.csproj.CoreCompileInputs.cache
/Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Data/obj/Debug/Data.pdb
/Data/obj/Debug/Data.dll
/Data/obj/Debug/Data.csprojResolveAssemblyReference.cache
/Data/obj/Debug/Data.csproj.FileListAbsolute.txt
/Data/obj/Debug/Data.csproj.CoreCompileInputs.cache
/packages/WebActivatorEx.2.0
/packages/Unity.WebAPI.5.4.0
/packages/Unity.5.11.1
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2
/packages/Swashbuckle.Core.5.6.0
/packages/Swashbuckle.5.6.0
/packages/Newtonsoft.Json.7.0.1
/packages/MSTest.TestFramework.1.1.17
/packages/MSTest.TestAdapter.1.1.17
/packages/Microsoft.Web.Infrastructure.1.0.0.0
/packages/Microsoft.Net.Compilers.2.1.0
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.5
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3
/packages/Microsoft.AspNet.WebApi.Cors.5.2.7
/packages/Microsoft.AspNet.WebApi.Core.5.2.7
/packages/Microsoft.AspNet.WebApi.Client.5.2.7
/packages/Microsoft.AspNet.WebApi.5.2.3
/packages/Microsoft.AspNet.Cors.5.2.7
/packages/AutoMapper.8.1.1
/Tests/bin/Debug/WebApi.pdb
/Tests/bin/Debug/WebApi.dll.config
/Tests/bin/Debug/WebApi.dll
/Tests/bin/Debug/WebActivatorEx.dll
/Tests/bin/Debug/Unity.WebApi.dll
/Tests/bin/Debug/Unity.Container.pdb
/Tests/bin/Debug/Unity.Container.dll
/Tests/bin/Debug/Unity.Abstractions.pdb
/Tests/bin/Debug/Unity.Abstractions.dll
/Tests/bin/Debug/Tests.pdb
/Tests/bin/Debug/Tests.dll.config
/Tests/bin/Debug/Tests.dll
/Tests/bin/Debug/System.Web.Http.xml
/Tests/bin/Debug/System.Web.Http.WebHost.xml
/Tests/bin/Debug/System.Web.Http.WebHost.dll
/Tests/bin/Debug/System.Web.Http.dll
/Tests/bin/Debug/System.Web.Http.Cors.xml
/Tests/bin/Debug/System.Web.Http.Cors.dll
/Tests/bin/Debug/System.Web.Cors.dll
/Tests/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/Tests/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/Tests/bin/Debug/System.Net.Http.Formatting.xml
/Tests/bin/Debug/System.Net.Http.Formatting.dll
/Tests/bin/Debug/Swashbuckle.Core.dll
/Tests/bin/Debug/roslyn/VBCSCompiler.exe.config
/Tests/bin/Debug/roslyn/VBCSCompiler.exe
/Tests/bin/Debug/roslyn/vbc.rsp
/Tests/bin/Debug/roslyn/vbc.exe.config
/Tests/bin/Debug/roslyn/vbc.exe
/Tests/bin/Debug/roslyn/System.Xml.XPath.XDocument.dll
/Tests/bin/Debug/roslyn/System.Xml.XPath.dll
/Tests/bin/Debug/roslyn/System.Xml.XmlDocument.dll
/Tests/bin/Debug/roslyn/System.Xml.ReaderWriter.dll
/Tests/bin/Debug/roslyn/System.ValueTuple.dll
/Tests/bin/Debug/roslyn/System.Threading.Thread.dll
/Tests/bin/Debug/roslyn/System.Text.Encoding.CodePages.dll
/Tests/bin/Debug/roslyn/System.Security.Principal.Windows.dll
/Tests/bin/Debug/roslyn/System.Security.Cryptography.X509Certificates.dll
/Tests/bin/Debug/roslyn/System.Security.Cryptography.Primitives.dll
/Tests/bin/Debug/roslyn/System.Security.Cryptography.Encoding.dll
/Tests/bin/Debug/roslyn/System.Security.Cryptography.Algorithms.dll
/Tests/bin/Debug/roslyn/System.Security.Claims.dll
/Tests/bin/Debug/roslyn/System.Security.AccessControl.dll
/Tests/bin/Debug/roslyn/System.Reflection.Metadata.dll
/Tests/bin/Debug/roslyn/System.IO.Pipes.dll
/Tests/bin/Debug/roslyn/System.IO.FileSystem.Primitives.dll
/Tests/bin/Debug/roslyn/System.IO.FileSystem.DriveInfo.dll
/Tests/bin/Debug/roslyn/System.IO.FileSystem.dll
/Tests/bin/Debug/roslyn/System.IO.Compression.dll
/Tests/bin/Debug/roslyn/System.Diagnostics.StackTrace.dll
/Tests/bin/Debug/roslyn/System.Diagnostics.Process.dll
/Tests/bin/Debug/roslyn/System.Diagnostics.FileVersionInfo.dll
/Tests/bin/Debug/roslyn/System.Console.dll
/Tests/bin/Debug/roslyn/System.Collections.Immutable.dll
/Tests/bin/Debug/roslyn/System.AppContext.dll
/Tests/bin/Debug/roslyn/Microsoft.Win32.Primitives.dll
/Tests/bin/Debug/roslyn/Microsoft.VisualBasic.Core.targets
/Tests/bin/Debug/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/Tests/bin/Debug/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/Tests/bin/Debug/roslyn/Microsoft.CSharp.Core.targets
/Tests/bin/Debug/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/Tests/bin/Debug/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/Tests/bin/Debug/roslyn/Microsoft.CodeAnalysis.dll
/Tests/bin/Debug/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/Tests/bin/Debug/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/Tests/bin/Debug/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/Tests/bin/Debug/roslyn/csi.rsp
/Tests/bin/Debug/roslyn/csi.exe.config
/Tests/bin/Debug/roslyn/csi.exe
/Tests/bin/Debug/roslyn/csc.rsp
/Tests/bin/Debug/roslyn/csc.exe.config
/Tests/bin/Debug/roslyn/csc.exe
/Tests/bin/Debug/Newtonsoft.Json.xml
/Tests/bin/Debug/Newtonsoft.Json.dll
/Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
/Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/Tests/bin/Debug/Data.pdb
/Tests/bin/Debug/Data.dll
/Tests/bin/Debug/BusinessLogic.pdb
/Tests/bin/Debug/BusinessLogic.dll
/Tests/bin/Debug/AutoMapper.xml
/Tests/bin/Debug/AutoMapper.pdb
/Tests/bin/Debug/AutoMapper.dll
/WebApi/Bin/WebApi.pdb
/WebApi/Bin/WebApi.dll.config
/WebApi/Bin/WebApi.dll
/WebApi/Bin/WebActivatorEx.dll
/WebApi/Bin/Unity.WebApi.dll
/WebApi/Bin/Unity.Container.pdb
/WebApi/Bin/Unity.Container.dll
/WebApi/Bin/Unity.Abstractions.pdb
/WebApi/Bin/Unity.Abstractions.dll
/WebApi/Bin/System.Xml.XmlSerializer.dll
/WebApi/Bin/System.Xml.XDocument.dll
/WebApi/Bin/System.Xml.ReaderWriter.dll
/WebApi/Bin/System.Web.Http.xml
/WebApi/Bin/System.Web.Http.WebHost.xml
/WebApi/Bin/System.Web.Http.WebHost.dll
/WebApi/Bin/System.Web.Http.dll
/WebApi/Bin/System.Web.Http.Cors.xml
/WebApi/Bin/System.Web.Http.Cors.dll
/WebApi/Bin/System.Web.Cors.dll
/WebApi/Bin/System.Threading.Tasks.dll
/WebApi/Bin/System.Threading.dll
/WebApi/Bin/System.Text.RegularExpressions.dll
/WebApi/Bin/System.Text.Encoding.Extensions.dll
/WebApi/Bin/System.Text.Encoding.dll
/WebApi/Bin/System.ServiceModel.Http.dll
/WebApi/Bin/System.Runtime.Serialization.Xml.dll
/WebApi/Bin/System.Runtime.Serialization.Primitives.dll
/WebApi/Bin/System.Runtime.InteropServices.dll
/WebApi/Bin/System.Runtime.Extensions.dll
/WebApi/Bin/System.Runtime.dll
/WebApi/Bin/System.Runtime.CompilerServices.Unsafe.xml
/WebApi/Bin/System.Runtime.CompilerServices.Unsafe.dll
/WebApi/Bin/System.Reflection.dll
/WebApi/Bin/System.ObjectModel.dll
/WebApi/Bin/System.Net.Requests.dll
/WebApi/Bin/System.Net.Primitives.dll
/WebApi/Bin/System.Net.NetworkInformation.dll
/WebApi/Bin/System.Net.Http.Formatting.xml
/WebApi/Bin/System.Net.Http.Formatting.dll
/WebApi/Bin/System.Linq.Expressions.dll
/WebApi/Bin/System.IO.dll
/WebApi/Bin/System.Globalization.dll
/WebApi/Bin/System.Dynamic.Runtime.dll
/WebApi/Bin/System.Diagnostics.Tracing.dll
/WebApi/Bin/System.Diagnostics.Debug.dll
/WebApi/Bin/System.ComponentModel.EventBasedAsync.dll
/WebApi/Bin/System.ComponentModel.Annotations.dll
/WebApi/Bin/System.Collections.dll
/WebApi/Bin/System.Collections.Concurrent.dll
/WebApi/Bin/Swashbuckle.Core.dll
/WebApi/Bin/roslyn/VBCSCompiler.exe.config
/WebApi/Bin/roslyn/VBCSCompiler.exe
/WebApi/Bin/roslyn/vbc.rsp
/WebApi/Bin/roslyn/vbc.exe.config
/WebApi/Bin/roslyn/vbc.exe
/WebApi/Bin/roslyn/System.Xml.XPath.XDocument.dll
/WebApi/Bin/roslyn/System.Xml.XPath.dll
/WebApi/Bin/roslyn/System.Xml.XmlDocument.dll
/WebApi/Bin/roslyn/System.Xml.ReaderWriter.dll
/WebApi/Bin/roslyn/System.ValueTuple.dll
/WebApi/Bin/roslyn/System.Threading.Thread.dll
/WebApi/Bin/roslyn/System.Text.Encoding.CodePages.dll
/WebApi/Bin/roslyn/System.Security.Principal.Windows.dll
/WebApi/Bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/WebApi/Bin/roslyn/System.Security.Cryptography.Primitives.dll
/WebApi/Bin/roslyn/System.Security.Cryptography.Encoding.dll
/WebApi/Bin/roslyn/System.Security.Cryptography.Algorithms.dll
/WebApi/Bin/roslyn/System.Security.Claims.dll
/WebApi/Bin/roslyn/System.Security.AccessControl.dll
/WebApi/Bin/roslyn/System.Reflection.Metadata.dll
/WebApi/Bin/roslyn/System.IO.Pipes.dll
/WebApi/Bin/roslyn/System.IO.FileSystem.Primitives.dll
/WebApi/Bin/roslyn/System.IO.FileSystem.DriveInfo.dll
/WebApi/Bin/roslyn/System.IO.FileSystem.dll
/WebApi/Bin/roslyn/System.IO.Compression.dll
/WebApi/Bin/roslyn/System.Diagnostics.StackTrace.dll
/WebApi/Bin/roslyn/System.Diagnostics.Process.dll
/WebApi/Bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/WebApi/Bin/roslyn/System.Console.dll
/WebApi/Bin/roslyn/System.Collections.Immutable.dll
/WebApi/Bin/roslyn/System.AppContext.dll
/WebApi/Bin/roslyn/Microsoft.Win32.Primitives.dll
/WebApi/Bin/roslyn/Microsoft.VisualBasic.Core.targets
/WebApi/Bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/WebApi/Bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/WebApi/Bin/roslyn/Microsoft.CSharp.Core.targets
/WebApi/Bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/WebApi/Bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/WebApi/Bin/roslyn/Microsoft.CodeAnalysis.dll
/WebApi/Bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/WebApi/Bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/WebApi/Bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/WebApi/Bin/roslyn/csi.rsp
/WebApi/Bin/roslyn/csi.exe.config
/WebApi/Bin/roslyn/csi.exe
/WebApi/Bin/roslyn/csc.rsp
/WebApi/Bin/roslyn/csc.exe.config
/WebApi/Bin/roslyn/csc.exe
/WebApi/Bin/roslyn
/WebApi/Bin/Newtonsoft.Json.xml
/WebApi/Bin/Newtonsoft.Json.dll
/WebApi/Bin/Microsoft.Web.Infrastructure.dll
/WebApi/Bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/WebApi/Bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/WebApi/Bin/Data.pdb
/WebApi/Bin/Data.dll
/WebApi/Bin/BusinessLogic.pdb
/WebApi/Bin/BusinessLogic.dll
/WebApi/Bin/AutoMapper.xml
/WebApi/Bin/AutoMapper.pdb
/WebApi/Bin/AutoMapper.dll
/WebApi/obj/Debug/WebApi.pdb
/WebApi/obj/Debug/WebApi.dll
/WebApi/obj/Debug/WebApi.csprojResolveAssemblyReference.cache
/WebApi/obj/Debug/WebApi.csproj.FileListAbsolute.txt
/WebApi/obj/Debug/WebApi.csproj.CoreCompileInputs.cache
/WebApi/obj/Debug/WebApi.csproj.CopyComplete
/WebApi/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WebApi/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WebApi/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WebApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebApi/obj/Release/WebApi.csproj.CoreCompileInputs.cache
/Tests/obj/Release/Tests.csproj.CoreCompileInputs.cache
/Tests/obj/Debug/Tests.pdb
/Tests/obj/Debug/Tests.dll
/Tests/obj/Debug/Tests.csprojResolveAssemblyReference.cache
/Tests/obj/Debug/Tests.csproj.FileListAbsolute.txt
/Tests/obj/Debug/Tests.csproj.CoreCompileInputs.cache
/Tests/obj/Debug/Tests.csproj.CopyComplete
/Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BusinessLogic/obj/Release/BusinessLogic.csproj.CoreCompileInputs.cache
